*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    width: 100%;
    height: 72px;
    margin-bottom: 100px;
    box-shadow: 3px 3px 10px rgba(136, 135, 135, 0.931);
    position: sticky;
    top: 0;
    background-color: white;
}
.container{
    max-width: 1220px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.rasm{
    width: 70px;
    height: 70px;
    border-radius: 50%;

}
.ulli{
    display: flex;
    gap: 30px;
    list-style: none;
    
    
}
a{
    text-decoration: none;
    color: black;
}

.a:hover{
color: rgb(246, 58, 16);

}
.yozuv{
    line-height: 28px;
}
.nuqta{
    width: 140px;
    height: 43px;
    background-color:rgb(253, 62, 4) ;
    border: none;
    border-radius: 15px;
    color:white ;
}
.knopka{
    width: 140px;
    height: 43px;
    border: 2px solid rgb(249, 55, 12);
    border-radius: 15px;
    color:rgb(246, 58, 16)   ;
    background-color: white;
}
.navbar2{
    width: 100%;
}
.container2{
    max-width: 1220px;
    margin: auto;
    display: flex;
    gap: 60px;
    align-items: center;
    margin-bottom: 100px;
}

.malumot{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.rasm2{
    width: 45%;
}

.rasm2 img{
    width: 540px;
    height: 500px;
    border-radius: 45px;

}

.navbar3{
    width: 100%;
}
.container3{
    max-width: 1220px;
    background-color: rgb(250, 250, 251);
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 100px;

}
.rasm3 img{
    width: 540px;
    height: 500px;
    border-radius: 45px;
}
.yozuv2{
    line-height: 28px;
}
.malumot2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    

}
.container4{
    width: 100%;
    background-color: rgb(250, 250, 251);
    margin-bottom: 100px;
}
.mentor{
    text-align: center;
    margin-bottom: 50px;


}
.cardningqutisi{
    max-width:1220px ;
    margin: auto;
    display: flex;
}
.card{
    width: 300px;
    margin: auto;
    
}
.bosh{
    width: 300px;
    height: 100px;
    margin-bottom: 15px;
    
}
.ism{
    width: 300px;
    height: 30px;
    text-align: center;
}
.tana{
    width: 300px;
    height: 70px;
    line-height: 28px;
    margin-bottom: 15px;
}
.opit{
    color: rgb(239, 98, 10);
}
.oyoq{
    width: 300px;
    height: 50px;
    margin: auto;
}
.knopka1{
    width: 140px;
    height: 43px;
    border: 2px solid rgb(249, 55, 12);
    border-radius: 15px;
    color:rgb(246, 58, 16)   ;
    background-color: white;
    margin: auto;
    display: block;

}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-top: 15px;
}
.ota-burger{
    display: none;
}

.burger{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.burger div{
    width: 50px;
    height: 4px;
    background-color: black;

}


@media(max-width:500px){
    .ulli, .btn-group{
        display: none;
    }
    .ota-burger{
        display: block;
    }
    .container{
        padding: 0 10px;
    }
    .container2{
        flex-direction: column-reverse;

    }
    .container3{
        flex-direction: column;
    }
    .cardningqutisi{
        flex-direction: column;

    }
    .rasm2 img, .rasm3 img{
        width: 340px;
        height: 340px;
        margin: auto;
        display: block;
    }
    .malumot, .malumot2{
        width: 100%;
        padding: 0 20px;
    }
    .yozuv{
        width: 100%;
        padding: 0 20px;
    }
    .yozuv2{
        width: 100%;
        padding: 0 20px;
    }
    .rasm2{
        width: 100%;
    }

}